.circles {
    height: 735px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    
}

.circles div {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
}

 