.circles {
    
    display: flex;
    justify-content: space-around;
    
    
}

.circles div {
    width: 100px;
    height: 100px;
    margin: 50px;
    display: inline-block;
    border-radius: 50%;
}

.first {
    background-color: #CC3366;
}

.second {
    background-color: #CC0066;
}

.third {
    background-color: #993366;
}

 .first {
    transform-origin: 100%;
    animation-name: firstmotion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

@keyframes firstmotion {
    50% {
        transform: translateY(90%);
    }
    
}

.second {
    transform-origin: 100%;
    animation-name: secondmotion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes secondmotion {
    50% {
        transform: translateY(90%);
    }
    
}

.third {
    transform-origin: 100%;
    animation-name: thirdmotion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes thirdmotion {
    50% {
        transform: translateY(90%);
    }
    
}